<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoostSignals.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Box2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Guichan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Isilme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IsilmeStory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Luabind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>TestApp1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>TestApp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TinyXML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>hgecore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>hgehelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4872E734158A1DB100AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EAC9158A1F6300AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EAD9158A1FE400AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EAEF158A207100AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EB1E158A22CC00AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EBC4158A2AD300AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EBE1158A2CBB00AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EBED158A2CD700AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EBF9158A2D8A00AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EC27158A2E7400AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872EC5D158B2B0200AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4872ECEC158B390C00AF70E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48754616159C335700D274BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>487546CE159C4EDC00D274BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
